<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.neverjp.background_task">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service
            android:name=".LocationUpdatesService"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="false"
            android:permission="" />

        <service
          android:name=".BeaconService"
          android:foregroundServiceType="location"
          android:enabled="true"
          android:exported="false"
          android:permission="" />

        <receiver android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
